.hero {
    background-color: #f0f0f0;
    user-select: none;
}

.container .text {
    font-family: "Times New Roman", Times, serif;
    color: #333;
    letter-spacing: 0.03em;
    word-spacing: 1px;
    font-weight: lighter;
    font-size: 18px;
}

.about {
    width: 90%;
}

.phone1 {
    display: none;
}

@media (max-width: 992px) {
    header.hero {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* overflow:hidden; */
        margin-top: -12px;
        user-select: none;
    }
    header.hero .container {
        padding-left: 0;
    }
    .hero {
        background-color: #f0f0f0;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-bottom: -5px;
        user-select: none;
    }

    .laptop1 {
        display: none;
    }

    .phone1 {
        display: block;
        height: 250px;
    }
}

.darkmode--activated .hero {
    background-color: #000;
}

.darkmode--activated button {
    mix-blend-mode: difference;
    isolation: isolate;
}
