* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 5px;
  float: left;
  width: 23.99999%;
  margin: 5px;
}

.responsive:hover{
  box-shadow: 0 0 8px #888888;
  transition: ease 0.5s;
  border-radius: 3px;
  cursor: pointer;
}

div.gallery {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

div.gallery:hover{
  border: 2px solid gold;

}

div.gallery img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

div.desc {
  padding: 6px;
  text-align: center;
  color: goldenrod;
  text-decoration: solid;
  font-weight: bold;
  font-size: large;
}

/* Hover on Category Effect */

.hoverContent{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 88%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s;
    border-radius: 10px;
    opacity: 0;
    text-align: center;
    color: rgb(240, 240, 240);
}

.hoverContent .border1{
  border: rgb(200, 200, 200) 1px solid;
  border-radius: 5px;
  margin: 40% 25px;
  text-align: center;
  font-size: larger;
  padding: 15px 0;
}

.responsive:hover .hoverContent{
   opacity: 1;
   transform: scaleZ(0.8) scaleY(0.8) scaleX(0.8);
}

.responsive:hover .desc{
  color: #000;
  transition: ease 0.5s;
  font-weight: bold;
}

/* media query for responsive */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Category by Gender */

.responsiveG {
  padding: 0 20px;
  width: 33%;
}

.responsiveG .hoverContent{
  height: 90%;
}

@media only screen and (max-width: 700px) {
  .responsiveG {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsiveG {
    width: 100%;
  }
}