/* iframe for rate */
@import "./iframe.css";

/* hr tag gold */

hr.style-eight {
    overflow: visible;
    padding: 0;
    border: none;
    height: 3px;
    margin: 38px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "Gold";
    color: goldenrod;
    text-shadow: 0 0 3px #fff, 0 0 5px gold;
    font-weight: bolder;
    letter-spacing: 8px;
    display: inline-block;
    position: relative;
    padding: 0 20px 10px 28px;
    background: #fff;
    top: -0.7em;
    font-size: 3.0em;
}

.top-products .container .text{
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    font-weight: lighter;
    font-size: 18px;
}

@media only screen and (max-width: 700px) {

    hr.style-eight{
        margin: 30px 0;
    }

  hr.style-eight:after {
    font-size: 2.1em;
    padding: 0 0.5em;
    letter-spacing: 5px;
  }

  .top-products .container .text{
      font-size: 16px;
  }
}