/* rate */

.iframeContainer1{
   position: relative;
   width: 730px;
   height: 170px;
   overflow: hidden;
}

.iframeContent1{
   position: absolute;
   top: -730px;
   left: -7px;
   width: 1161px;
   height: 1155px;
}

.iframeContainer2{
   position: relative;
   width: 765px;
   height: 250px;
   overflow: hidden;
}

.iframeContent2{
   position: absolute;
   top: -426px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContainer3{
   position: relative;
   width: 380px;
   height: 287px;
   overflow: hidden;
}

.iframeContent3{
   position: absolute;
   top: -856px;
   left: -800px;
   width: 1200px;
   height: 1155px;
}

@media( max-width:800px){

   .iframeContainer1{
   position: relative;
   width: 410px;
   height: 285px;
   overflow: hidden;
   margin-bottom: 20px;
}

.iframeContent1{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContainer2{
   display: block;
   position: relative;
   width: 410px;
   height: 285px;
   overflow: hidden;
   margin-bottom: 20px;
}

.iframeContent2{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContainer3{
   position: relative;
   width: 410px;
   height: 285px;
   overflow: hidden;
   margin-bottom: 20px;
}

.iframeContent3{
   position: absolute;
   top: -856px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

}

@media( max-width:600px){

.iframeContainer1{
   position: relative;
   width: 400px;
   height: 285px;
   overflow: hidden;
}

.iframeContent1{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContainer2{
   position: relative;
   width: 400px;
   height: 285px;
   overflow: hidden;
}

.iframeContent2{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContainer3{
   position: relative;
   width: 400px;
   height: 285px;
   overflow: hidden;
}

.iframeContent3{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

}

