/* rate */

.iframeContainer{
   position: relative;
   width: 800px;
   height: 285px;
   overflow: hidden;
}

.iframeContent1{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContent11{
   display: none;
}


@media( max-width:800px){

   .iframeContainer{
   position: relative;
   width: 410px;
   height: 285px;
   overflow: hidden;
   margin-bottom: 20px;
}

.iframeContent1{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContent11{
   display: block;
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

}

@media( max-width:600px){

.iframeContainer{
   position: relative;
   width: 400px;
   height: 285px;
   overflow: hidden;
}

.iframeContent1{
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

.iframeContent11{
   display: block;
   position: absolute;
   top: -826px;
   left: -10px;
   width: 1200px;
   height: 1155px;
}

}

