.iframeContainer{
   position: relative;
   width: 300px;
   height: 200px;
   overflow: hidden;
}
.iframeContent{
   position: absolute;
   top: -580px;
   left: -102px;
   width: 500px;
   height: 900px;

}