* {
  box-sizing: border-box;
}

/* colors  */

:root {
  --primary: #eebf00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

.resp {
  float: left;
  margin: 10px;
  width: 22%;
  height: 330px;
  background-color: #fff;
  border-radius: 5px;
}

.resp:hover {
  box-shadow: 0 0 8px #888888;
  transition: ease 0.3s;
}

.resp .gallery {
  height: 400px;
  margin: 10px;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
  justify-content: space-evenly;
}

.resp .gallery img {
  border-radius: 5px;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

div.desc {
  margin-top: 8px;
  text-align: center;
  color: var(--secondary);
  text-decoration: solid;
  font-weight: bold;
  font-size: 22px;
}

.resp:hover .desc {
  color: var(--primary);
  transition: ease 0.3s;
  font-weight: bold;
}

/* content table design */

div.details {
  width: 100%;
  height: 110px;
  overflow: hidden;
}

div.details table tr {
  border: none;
}

td {
  color: var(--pure);
  padding: 0 10px 10px 5px;
}

/* content buy now button */

div.buynow {
  width: 100%;
  height: 100px;
  text-align: center;
  display: inline;
  float: left;
  margin-top: 30px;
}

div.buynow button {
  color: var(--light);
  border: var(--ternary) 1px solid;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px 15px;
  text-align: center;
  font-size: 20px;
}

div.buynow button:hover {
  cursor: pointer;
  color: var(--primary);
  transition: ease 0.3s;
}

div.viewdetails {
  text-align: center;
  margin-top: 15px;
}

.viewdetails .buybutton {
  padding: 6px 20px;
  background-color: var(--pure);
  border: var(--primary) 2px solid;
  border-radius: 4px;
  font-size: 15px;
  color: var(--ternary);
}

div.viewdetails .buybutton:hover {
  cursor: pointer;
  background-color: var(--primary);
  transition: ease 0.3s;
}

/* Hover on Category Effect */

.hoverContent {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: -100%;
  width: 92%;
  height: 85%;
  overflow: hidden;
  padding: 15px 0 0 10px;
  box-sizing: border-box;
  transition: all 0.5s;
  border-radius: 0 5px 5px 0;
}

.resp:hover .hoverContent {
  left: 0px;
  width: 100%;
  height: 65%;
}

.hoverContent h4{
  color: var(--primary);
  margin-bottom: 13px;
  margin-left: 7px;
  font-weight: 800;
}

/* media query for responsive */

@media only screen and (max-width: 1000px) {
  .resp {
    width: 46%;
    margin: 0 10px 30px 10px;
  }
}

@media only screen and (max-width: 700px) {
  .resp {
    width: 46%;
    margin: 0 5px 20px 5px;
  }
}
